/****** Variables and such ******/
* {
    -dark-primary-purple: rgb(187,134,252);
    -dark-secondary-teal: rgb(3, 218, 198);
    -dark-error: rgb(207, 102, 121);
    -dark-button-text: rgb(18,18,18);
    -dark-button-text-light: rgb(255,255,255);
}
/****** Iunno ******/
.root {
    -fx-font-size: 12px;
    -fx-background-color: rgb(36,36,36);
}

/****** Start Button Styling ******/
.button {
    -fx-text-fill: -dark-button-text;
    -fx-background-color: -dark-primary-purple;
}

.button:hover {
    -fx-border-color: rgba(255, 255, 255, .5);
    -fx-opacity: .8;
}

.button:pressed {
    -fx-opacity: 1;
}
/****** End Button Styling ******/

/****** Start Text/Label Styling ******/
.label {
    -fx-text-fill: rgb(255,255,255);
}
/****** End Text/Label Styling ******/

/****** Start List View Styling ******/
.list-view {
    -fx-background-color: rgb(36, 36, 36);
    -fx-border-radius: 7px;
    -fx-border-color: rgba(255, 255, 255, .5);
    -fx-font-family: monospace;
    -fx-font-size: 12px;
}

.indexed-cell:even {
    -fx-text-fill: rgb(255,255,255);
    -fx-background-color: rgb(52, 52, 52);
}

.indexed-cell:odd {
    -fx-text-fill: rgb(255,255,255);
    -fx-background-color: rgb(60, 60, 60);
}

.cell:selected {
    -fx-background-color: rgba(18,18,18, .14);
}
/****** End List View Styling ******/

/****** Start Text Field Styling ******/
.text-field {
    -fx-background-color: -dark-primary-purple;
    -fx-prompt-text-fill: -dark-button-text;
}

.text-field:focused {
    -fx-border-color: rgba(255, 255, 255, .5);
    -fx-border-radius: 5px;
}
/****** End Text Field Styling ******/

/****** Start Choice Box Styling ******/
.choice-box {
    -fx-background-color: -dark-primary-purple;
}

.choice-box > .label {
    -fx-text-fill: black;
}

.choice-box .context-menu {
    -fx-background-color: -dark-secondary-teal;
}

.choice-box .menu-item > .label {
    -fx-text-fill: black;
}
/****** End Choice Box Styling ******/

/****** Start Text Area Styling ******/
.text-area {
    -fx-text-fill: -dark-button-text;
}

.text-area .content {
    -fx-background-color: -dark-primary-purple;
}
/****** End Text Area Styling ******/

/****** Start Radio Button Styling ******/
.radio-button {
    -fx-text-fill: -dark-button-text-light;
}

.radio-button .radio {
    -fx-background-color: -dark-secondary-teal;
}
/****** End Radio Button Styling ******/
